[Connection]
host = 127.0.0.1
port = 25565
username = Bot

# Using OpenAI LLM API:

[LLM]
module = openai
model_name = gpt-4o

[LLMClient]
base_url = https://api.openai.com/v1
api_key = your_api_key_here

# Using USTB LLM API:

# [LLM]
# module = ustb_openai
# model_name = DeepSeek

# [LLMClient]
# base_url = https://chat.ustb.edu.cn
# vjuid_login = your_cookie_value_here
